*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.brf
*.sty
*.synctex.gz
PhDThesis_example.pdf
PhDThesis_example.ps
PhDThesis_example.tex
chapter1_example.tex
uvms.pdf
uvms.spl
uvms.tex
